# Ignore kernel files built or downloaded by kernel/build.sh
kernel/*
!kernel/build.sh
!kernel/kernel.flags
!kernel/patches
!kernel/logo
kernel/logo/*
!kernel/logo/logo.png
!kernel/genimg.sh

# [port/python] Temporary ignore files to prevent accidentally pushing bloat
__pycache__/
breath.egg-info/
build/
dist/
