[Unit]
Description=Eupnea oneshot post-installation script
# Further description:
# This script is only run on the first boot of Deptboot/EupneaOS. It calls the postinstall script in /usr/local/bin.

[Service]
Type=oneshot
ExecStart=/usr/local/bin/postinstall
RemainAfterExit=false
StandardOutput=journal

[Install]
WantedBy=multi-user.target