[Unit]
Description=Eupnea auto-update

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-scripts
ExecStart=/usr/local/bin/manage-kernels --update --non-interactive