[Unit]
Description="Reload ALSA and set the correct UCM"

[Service]
User=root
WorkingDirectory=/
ExecStart=/bin/bash -c 'modprobe snd_soc_max98357a snd_soc_da7219 snd_soc_rt5682 snd_soc_rt1015 snd_soc_rt1011 && alsactl kill rescan'

[Install]
WantedBy=multi-user.target
