@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&family=Inter:wght@400;500;600&family=Manrope:wght@800&display=swap');

:root {
    --base-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-font-size: 18px;
    --base-font-weight: 400;
    /*--base-font-weight: 400;*/
    --heading-font-weight: 550;
    --blockquote-border-radius: 5px;
    --blockquote-border-color: var(--mono-tint2);;
    --blockquote-border-width: 1px;
    --sidebar-background: #f6f6f6;
    --sidebar-border-color: #f6f6f6;
    --sidebar-name-font-weight: 700;
    --heading-h2-font-weight: 650;
    --sidebar-transition-duration: 250ms;
    --sidebar-width: 19rem;
    --sidebar-padding: 0 40px;
    --sidebar-nav-link-border-style: dotted;
    --sidebar-background: #f2f2f2;
    --base-background-color: #f2f2f2;
    --sidebar-toggle-background: rgba(255, 255, 255, 0);
    --code-theme-background: #ebebeb;
}

.sidebar-nav p * {
    font-family: 'Inter', sans-serif;
}

.sidebar-nav strong {
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 800;
}

.sidebar {
    box-shadow: 20px 20px 60px #cecece3e,
                -20px -20px 60px #ffffff;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.markdown-section {
    padding-top: 3.5rem;
}